<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <f:metadata>
        <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{uparHandler.postViewParamInitProfile}" />
    </f:metadata>
    
    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.user.changeProfileInfo']}" />
            <ui:define name="content">
                <p>#{i18n['common.mandatoryFields']}</p>
                <h:form id="generalForm" prependId="false">
                    <h:panelGroup rendered="#{userHandler.loggedIn}">

        <p:panel header="#{i18n['admin.user.loginInfo']}">
        <ui:param name="nameEditable" value="#{user.hasSuperAdminPermission()}" />
                            <ui:param name="pwShown" value="true" />
                            <ui:param name="handler" value="#{uparHandler}" />
            <h:panelGrid columns="4">
                <p:outputLabel value="#{i18n['common.user.loginName']}:" for="nameOut" rendered="#{not nameEditable}" />
                <h:outputText id="nameOut" value="#{handler.user.userName}" rendered="#{not nameEditable}" style="padding-left:0.5em;" />
                
                <p:outputLabel value="#{i18n['common.user.loginName']}:" rendered="#{nameEditable}" />
                <p:outputLabel value="#{handler.user.userName}" rendered="#{nameEditable}" />
                
                <p:outputLabel value="#{i18n['common.user.curPassw']}:" for="currentPassw"  />
                <p:password id="currentPassw" value="#{handler.currentPassword}" required="true" requiredMessage="#{i18n['admin.user.requiredMsg.curPassw']}" feedback="false" minLength="" maxlength="20" size="20" />
                                
                <p:outputLabel value="#{i18n['common.user.passw']}:" for="passw" rendered="#{pwShown}" />
                <p:password id="passw" value="#{handler.plainPassword}" rendered="#{pwShown}" required="#{handler.createView}" requiredMessage="#{i18n['admin.user.requiredMsg.passw']}" feedback="false" minLength="" maxlength="20" size="20" />
                
                <p:outputLabel value="#{i18n['admin.user.repeatPassw']}:" for="repeatPassw" rendered="#{pwShown}" />
                <p:password id="repeatPassw" rendered="#{pwShown}" value="#{handler.verifyPassword}" feedback="false" minLength="" maxlength="20" size="20" />
            </h:panelGrid>
            <h:outputText style="font-size: smaller;" value="#{i18n['admin.user.passwInfo']}." rendered="#{pwShown}" />
        		</p:panel>
                        <div class="buttonCenter">
                            <p:commandButton value="#{i18n['admin.user.changeUserInfo']}"
                                             action="#{uparHandler.changePassword}"
                                             update="messages" />
                        </div>
                    </h:panelGroup>
                    <ui:include src="/messages.xhtml" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
