<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['common.flowProperty.inflected']}#{i18n['delimiter']}#{i18n['public.datasets']}" />
            <ui:param name="activeMenu" value="#{Constants.MENU_FLOWPROPERTY}" />
            <ui:define name="content">

                <h:form id="tableForm" prependId="false">

                   <p:dataTable id="flowpropertyTable" var="flowproperty" lazy="true"
                                 value="#{flowpropertiesHandler.lazyDataModel}"
                                 paginator="true" rows="10" rowsPerPageTemplate="5,10,15,50"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                 {PreviousPageLink} {PageLinks} {NextPageLink}
                                 {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}
                                 (#{flowpropertiesHandler.lazyDataModel.rowCount} #{i18n['common.list.total']})"
                                 emptyMessage="#{i18n['common.list.noneFound']}">

                        <p:column style="width:35%" sortBy="#{flowproperty.name.defaultValue}" headerText="#{i18n['common.name']}" rendered="#{conf.displayConfig.showFlowPropertyName}">
                            <h:link outcome="#{url.flowProperty.getDetail(flowproperty)}" value="#{flowproperty.name.defaultValue}" title="#{flowproperty.uuidAsString}   #{flowproperty.version}" />
                        </p:column>

                        <p:column style="width:35%" sortBy="#{flowproperty.classification.classHierarchyAsString}" headerText="#{i18n['public.dataset.cat']}" rendered="#{conf.displayConfig.showFlowPropertyCategory}">
                            <h:outputText
                                value="#{flowproperty.classification.classHierarchyAsString}" />
                        </p:column>

                        <p:column style="width:15%" sortBy="#{flowproperty.unitGroupName.defaultValue}" headerText="#{i18n['public.flowProp.defaultUnitGroup']}" rendered="#{conf.displayConfig.showFlowPropertyDefaultUnitGroup}">
                            <h:outputText value="#{flowproperty.unitGroupName.defaultValue}" />
                        </p:column>

                        <p:column style="width:15%" sortBy="#{flowproperty.defaultUnit}" headerText="#{i18n['common.dataset.defaultUnit']}" rendered="#{conf.displayConfig.showFlowPropertyDefaultUnit}">
                            <h:outputText value="#{flowproperty.defaultUnit}" />
                        </p:column>
                    </p:dataTable>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
