<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">

            <!--f:facet name="header">
                <p:outputPanel>
                    <h:outputText value="#{i18n['public.proc.searchAllFields']}:" />
                    <h:inputText id="globalFilter" style="width:150px" />
                </p:outputPanel>
            </f:facet-->

          <p:column style="width:40%" sortBy="#{process.name.getValueWithFallback(lang)}" headerText="#{i18n['common.name']}" rendered="#{conf.displayConfig.showProcessName}">
            
                <h:link outcome="#{url.process.getDetailWithRegistry(process, registry)}" rendered="#{process.class.name == 'de.iai.ilcd.model.process.Process'}"
                        value="#{process.name.getValueWithFallback(lang)}" title="#{process.uuidAsString}   #{process.version}">
                </h:link>
                <!--
                <h:link outcome="#{url.process.getDetailForeign(process)}" rendered="#{process.class.name ne 'de.iai.ilcd.model.process.Process'}"
                        value="#{process.name.value}" title="#{process.uuidAsString}   #{process.dataSetVersion}">
                </h:link>-->

              <!-- e.g. href="/showProcess.xhtml?id=6" ->
                <h:link outcome="showProcess" rendered="#{DataSetType.PROCESS == process.dataSetType}"
                    value="#{process.name.value}" title="#{process.uuidAsString}   #{process.version}">
                    <f:param name="uuid" value="#{process.uuid.uuid}" />
                    <f:param name="version" value="#{process.dataSetVersion}" />
                    <f:param name="registryUUID" value="#{registry}" />
                    <f:param name="stock" value="#{stockSelection.currentStockName}" />
                </h:link-->
                
                
                 <h:outputLink value="#{processesHandler.getNodeBaseUrl(registry,process.sourceId)}#{'/showProcess.xhtml?uuid='}#{process.uuidAsString}#{'&amp;version='}#{process.dataSetVersion}#{'&amp;registryUUID='}#{registry}"
               		rendered="#{process.class.name ne 'de.iai.ilcd.model.process.Process'}">
                    <h:outputText value="#{process.name.getValueWithFallback(lang)}"/>
        		 </h:outputLink>
        		 
            </p:column>
            
            <p:column style="width:14%" sortBy="#{process.type.value}" headerText="#{i18n['common.type']}" rendered="#{conf.displayConfig.showProcessType}">
                <h:outputText rendered="#{process.parameterized}"
                    value="(#{i18n['public.proc.parameterized']}) " />
                <h:outputText value="#{process.type.value}" />
            </p:column>

            <p:column style="width:14%" sortBy="#{process.subType.value}" headerText="#{i18n['common.proc.subtype']}" rendered="#{conf.displayConfig.showProcessSubType}">
                <h:outputText value="#{process.subType.value}" />
            </p:column>

            <p:column style="width:6%" sortBy="#{process.location}" headerText="#{i18n['common.dataset.location']}" rendered="#{conf.displayConfig.showProcessLocation}">
                <h:outputText value="#{process.location}" />
            </p:column>

            <p:column style="width:14%" sortBy="#{process.classification.classHierarchyAsString}" headerText="#{i18n['common.dataset.classif']}" rendered="#{conf.displayConfig.showProcessClassification}">
                <h:outputText
                    value="#{process.classification.classHierarchyAsString}" />
            </p:column>

            <p:column style="width:6%" sortBy="#{process.timeInformation.referenceYear}" headerText="#{i18n['common.dataset.refYear']}" rendered="#{conf.displayConfig.showProcessReferenceYear}">
                <h:outputText value="#{process.timeInformation.referenceYear}" />
            </p:column>

            <p:column style="width:6%" sortBy="#{process.timeInformation.validUntil}" headerText="#{i18n['common.proc.validUntilYear']}" rendered="#{conf.displayConfig.showProcessValidUntil}">
                <h:outputText value="#{process.timeInformation.validUntil}" />
            </p:column>
            
            <p:column style="width:6%" sortBy="#{process.sourceId}" headerText="#{i18n['common.node.id']}" rendered="#{distributed and conf.displayConfig.showProcessNodeId}">
                <h:outputText value="#{process.sourceId}" rendered="#{not conf.displayConfig.showNodeIdAsLink}"/>
                <h:outputLink value="#{processesHandler.getNodeBaseUrl(registry,process.sourceId)}" rendered="#{conf.displayConfig.showNodeIdAsLink}">
                	#{process.sourceId}
                </h:outputLink>
            </p:column>
            

<!--            <p:column style="width:7%" sortBy="#{process.LCIMethodInformation.methodPrinciple.value}" headerText="#{i18n['public.proc.methodPrinciple']}">
                <h:outputText
                    value="#{process.LCIMethodInformation.methodPrinciple.value}" />
            </p:column>
-->
			<!-- somewhat ugly solution due to limitations of p:tooltip which allows only JSF components, no plain HTML -->
<!--			<p:column style="width:1%" sortBy="#{process.complianceSystems}">
				<f:facet name="header">
					<h:outputText id="processTableComplianceHeader" value="#{i18n['public.proc.compliance']}">
						<p:tooltip for="processTableComplianceHeader" targetPosition="bottomLeft" position="topRight">
							<h:outputText styleClass="headline" value="#{i18n['public.proc.compliance.tooltip.headline']}"/>
							<h:outputText styleClass="legendHeader" value="Legend:"/>
							<h:outputText styleClass="listItem" value="&#x2022; I &#x21D2; #{i18n['public.proc.compliance.tooltip.I']}"/>
							<h:outputText styleClass="listItem" value="&#x2022; E &#x21D2; #{i18n['public.proc.compliance.tooltip.E']}"/>
							<h:outputText styleClass="listItem" value="&#x2022; O &#x21D2; #{i18n['public.proc.compliance.tooltip.O']}"/>
							<h:outputText styleClass="listItem" value="&#x2022; empty &#x21D2; #{i18n['public.proc.compliance.tooltip.N']}"/>
						</p:tooltip>
					</h:outputText>
				</f:facet>
				<h:outputText id="compliance" value="#{complianceUtil.getComplianceCodeAsString(process.complianceSystems)}">
					<p:tooltip styleClass="noFixWidth" for="compliance" targetPosition="bottomLeft" position="topRight">
				        <ui:repeat value="#{complianceUtil.getComplianceSetAsList(process)}" var="c" styleClass="ourDataList">
	                    	<h:outputText styleClass="listItem" value="&#x2022; #{c.name} (#{i18n['public.proc.overallCompliance']}: #{c.overallCompliance.value})" />
	                    </ui:repeat>					
					</p:tooltip>
				</h:outputText>
			</p:column>-->

</ui:composition>
