<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <f:metadata>
        <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{uparHandler.postViewParamInitProfile}" />
    </f:metadata>
    
    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.user.changeProfileInfo']}" />
            <ui:define name="content">
                <p>#{i18n['common.mandatoryFields']}</p>
                <h:form id="generalForm" prependId="false">
                    <h:panelGroup rendered="#{userHandler.loggedIn}">
                        <ui:include src="/admin/userEntry.xhtml">
                            <ui:param name="nameEditable" value="#{user.hasSuperAdminPermission()}" />
                            <ui:param name="pwShown" value="false" />
                            <ui:param name="handler" value="#{uparHandler}" />
                        </ui:include>
                        <div class="buttonCenter">
                            <p:commandButton value="#{i18n['admin.user.changeUserInfo']}"
                                             action="#{uparHandler.changeProfile}"
                                             update="messages" />
                        </div>
                    </h:panelGroup>
                    <ui:include src="/messages.xhtml" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
