<?xml version='1.0' encoding='UTF-8' ?>
<!--
Parameters for this composition:
	via ui:param:
		flowHandler
		urlgenerator
-->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="#{conf.templatePath}/frontend.xhtml">
	
    <ui:param name="lang" value="#{localeBean.locale.language}" />
	<ui:param name="pageTitle" value="#{flowHandler.elementaryFlow ? i18n['common.elementaryFlow'] : i18n['common.productFlow']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
	<ui:param name="pageSubTitle" value="#{i18n['public.dataset']}: #{flowHandler.flow.name.getValueWithFallback(lang)} (#{flowHandler.flow.version})" />
	
	<ui:define name="content">
		<h:panelGroup rendered="#{flowHandler.otherVersionPresent}">
			<h:outputText value="#{i18n['public.dataset.otherVersions']}:" />
			<ui:repeat value="#{flowHandler.otherVersions}" var="ov">
					&#160;
					<h:link value="#{ov.version}" outcome="#{urlgenerator.getDetail(ov)}" />
			</ui:repeat>
		</h:panelGroup>
		<div id="datasetPage">
			<div class="floatRight">
				<h:panelGrid columns="3" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
					<h:panelGroup rendered="#{flowHandler.processesWithInOrOutputFlowExist}">
						<h:outputText value="#{i18n['public.flow.inOut']}&#160;" />

						<h:outputText rendered="#{not flowHandler.processesWithInputFlowExist}" value="#{i18n['public.flow.inOut.input']}" styleClass="ui-state-disabled" />
						<h:link rendered="#{flowHandler.processesWithInputFlowExist}" value="#{i18n['public.flow.inOut.input']}" outcome="#{url.process.getWithInputExchangeFlow(flowHandler.flow)}" />

						<h:outputText styleClass="#{flowHandler.processesWithInXorOutputFlowExist ? 'ui-state-disabled' : ''}" value="&#160;/&#160;" />

						<h:outputText rendered="#{not flowHandler.processesWithOutputFlowExist}" value="#{i18n['public.flow.inOut.output']}" styleClass="ui-state-disabled" />
						<h:link rendered="#{flowHandler.processesWithOutputFlowExist}" value="#{i18n['public.flow.inOut.output']}" outcome="#{url.process.getWithOutputExchangeFlow(flowHandler.flow)}" />

					</h:panelGroup>
					<h:outputText rendered="#{not flowHandler.processesWithInOrOutputFlowExist}" value="#{i18n['public.flow.inOut']} #{i18n['public.flow.inOut.input']} / #{i18n['public.flow.inOut.output']}"
						styleClass="ui-state-disabled" />

					<h:panelGroup>
						<h:outputLink value="#{conf.contextPath}#{urlgenerator.getResourceDetailHtmlWithStock(flowHandler.flow)}" target="_blank">#{i18n['public.dataset.viewDataset']}</h:outputLink>
						&#160;
						<h:outputLink value="#{conf.contextPath}#{urlgenerator.getResourceDetailHtmlAltWithStock(flowHandler.flow)}" target="_blank" rendered="#{conf.displayConfig.showAlternativeHtmlLink}">#{i18n['public.dataset.viewDataset']} (#{i18n['common.alternativeView']})</h:outputLink>
					</h:panelGroup>

					<h:outputLink value="#{conf.contextPath}#{urlgenerator.getResourceDetailXml(flowHandler.flow)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
				</h:panelGrid>
			</div>
			<div class="clearRight">
				<h:panelGrid columns="3" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['common.type']}</div>
						<h:outputText value="#{flowHandler.flow.type.value}" styleClass="boldText" />
					</h:panelGroup>
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['common.name']}</div>
						<h:outputText value="#{flowHandler.flow.name.getValueWithFallback(lang)}" styleClass="boldText" />
					</h:panelGroup>
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['public.flow.refFlowProperty']}</div>
						<h:outputText value="#{flowHandler.flow.referenceFlowProperty.flowPropertyName.getValueWithFallback(lang)} (#{flowHandler.flow.referencePropertyDescription.flowPropertyUnit})" styleClass="boldText" />
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
					<h:panelGroup rendered="#{flowHandler.elementaryFlow}">
						<div class="datasetLabel">#{i18n['public.flow.categorization']}</div>
						<h:outputText value="#{flowHandler.flow.categorization.classHierarchyAsString}" />
					</h:panelGroup>
					<h:panelGroup rendered="#{not flowHandler.elementaryFlow}">
						<div class="datasetLabel">#{i18n['common.dataset.classif']}</div>
						<h:outputText value="#{flowHandler.flow.classification.classHierarchyAsString}" />
					</h:panelGroup>
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['public.dataset.synonyms']}</div>
						<h:outputText value="#{flowHandler.flow.synonyms.getValueWithFallback(lang)}" />
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid rendered="#{flowHandler.elementaryFlow}" columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['public.flow.casNo']}</div>
						<h:outputText value="#{flowHandler.flow.casNumber}" />
					</h:panelGroup>
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['public.flow.sumFormula']}</div>
						<h:outputText value="#{flowHandler.flow.sumFormula}" />
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="1" columnClasses="datasetBlock ui-widget-content">
					<h:panelGroup>
						<div class="datasetLabel">#{i18n['public.dataset.comment']}</div>
						<h:outputText value="#{flowHandler.flow.description.getValueWithFallback(lang)}" />
					</h:panelGroup>
				</h:panelGrid>
			</div>
		</div>
		<ui:include src="/messages.xhtml" />

	</ui:define>
</ui:composition>