<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['common.source.inflected']}#{i18n['delimiter']}#{i18n['public.datasets']}" />
            <ui:param name="activeMenu" value="#{Constants.MENU_SOURCE}" />
            <ui:define name="content">

                <h:form id="tableForm" prependId="false">

                   <p:dataTable id="sourceTable" var="source" lazy="true"
                                 value="#{sourcesHandler.lazyDataModel}"
                                 paginator="true" rows="10" rowsPerPageTemplate="5,10,15,50"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                 {PreviousPageLink} {PageLinks} {NextPageLink}
                                 {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}
                                 (#{sourcesHandler.lazyDataModel.rowCount} #{i18n['common.list.total']})"
                                 emptyMessage="#{i18n['common.list.noneFound']}">

                        <p:column style="width:60%" sortBy="#{source.name.defaultValue}" headerText="#{i18n['common.name']}" rendered="#{conf.displayConfig.showSourceName}">
                            <h:link outcome="#{url.source.getDetail(source)}" value="#{source.name.defaultValue}" title="#{source.uuidAsString}   #{source.version}" />
                        </p:column>

                        <p:column style="width:25%" sortBy="#{source.classification.classHierarchyAsString}" headerText="#{i18n['public.dataset.cat']}" rendered="#{conf.displayConfig.showSourceCategory}">
                            <h:outputText
                                value="#{source.classification.classHierarchyAsString}" />
                        </p:column>

                        <p:column style="width:15%" sortBy="#{source.publicationType.value}" headerText="#{i18n['common.type']}" rendered="#{conf.displayConfig.showSourceType}">
                            <h:outputText value="#{source.publicationType.value}" />
                        </p:column>

                    </p:dataTable>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
