<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="/admin/layout/adminDesign.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.org.manageList']}" />
            <ui:define name="content">
                <h:form id="tableForm" prependId="false">
                    <div class="floatRight">
                        <p:button id="newEntryBtn"
                                  value="#{i18n['admin.createNewEntry']}"
                                  outcome="#{url.org.new}" />
                    </div>
                    <p:commandButton id="deleteBtn"
                                     value="#{i18n['admin.deleteSelected']}"
                                     onclick="PF('confirmDelete').show()"
                                     type="button"
                                     disabled="#{orgListHandler.nothingSelected}" />
                    <p:confirmDialog message="#{i18n['admin.confirmMsg.deleteSelected']}?"
                                     header="#{i18n['admin.confirmDlg.delete']}"
                                     severity="alert"
                                     widgetVar="confirmDelete">
                        <div class="confirmDlgButtons">
                            <p:commandButton value="#{i18n['admin.cancel']}"
                                             type="button"
                                             onclick="PF('confirmDelete').hide()" />
                            <p:commandButton value="#{i18n['admin.ok']}"
                                             action="#{orgListHandler.deleteSelected}"
                                             oncomplete="PF('confirmDelete').hide()"
                                             ajax="false"
                                             update="messages orgTable" />
                        </div>
                    </p:confirmDialog>

                    <ui:include src="/messages.xhtml" />

                    <p:dataTable id="orgTable"
                                 var="org"
                                 value="#{orgListHandler.lazyModel}"
                                 lazy="true"
                                 paginator="true"
                                 rows="15" rowsPerPageTemplate="5,10,15,50"
                                 selection="#{orgListHandler.selectedOrganizations}"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                 {PreviousPageLink} {PageLinks} {NextPageLink}
                                 {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}
                                 (#{orgListHandler.lazyModel.rowCount} #{i18n['common.list.total']})"
                                 rowStyleClass="#{Constants.DEFAULT_ORGANIZATION_ID == org.id ? 'unselectable':''}"
                                 emptyMessage="#{i18n['common.list.noneFound']}">
                        
                        <p:ajax event="rowSelectCheckbox" process="@this" update="@(#deleteBtn)" />
                        <p:ajax event="rowUnselectCheckbox" process="@this" update="@(#deleteBtn)" />
                        <p:ajax event="toggleSelect" process="@this" update="@(#deleteBtn)" />
                        
                        <p:column style="text-align: center;" selectionMode="multiple" />

                        <p:column headerText="#{i18n['common.name']}">
                            <h:link outcome="#{url.org.edit}" value="#{org.name}">
                                <f:param name="orgId" value="#{org.id}" />
                            </h:link>
                            <h:outputText rendered="#{Constants.DEFAULT_ORGANIZATION_ID == org.id}" value=" (#{i18n['admin.notDeletable']})" styleClass="notDeletableInfo" />
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.picklist.targetUsers']}">
                            <p:dataList value="#{org.users}" var="orgUser" styleClass="ourDataList">
                                <h:outputText value="#{orgUser.userName}" />
                                <h:outputText rendered="#{orgUser.id == org.adminUser.id}" value="&nbsp;(#{i18n['admin.org.adminUser']})" />
                            </p:dataList>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.picklist.targetGroups']}">
                            <p:dataList value="#{org.groups}" var="orgGroup" styleClass="ourDataList">
                                <h:outputText value="#{orgGroup.groupName}" />
                                <h:outputText rendered="#{orgGroup.id == org.adminGroup.id}" value="&nbsp;(#{i18n['admin.org.adminGroup']})" />
                            </p:dataList>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.manageUsrGrp']}" style="text-align:center;">
                            <p:button icon="ui-icon-search" title="#{i18n['admin.manageUsrGrp']} #{i18n['admin.forEntry']} '#{org.name}'" outcome="#{url.org.edit}">
                                <f:param name="orgId" value="#{org.id}" />
                                <f:param name="tabId" value="1" />
                            </p:button>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.manageAdmUsrGrp']}" style="text-align:center;">
                            <p:button disabled="#{orgListHandler.isAssignAdmUsrGrpBtnDisabled(org)}" icon="ui-icon-search" title="#{i18n['admin.manageAdmUsrGrp']} #{i18n['admin.forEntry']} '#{org.name}'" outcome="#{url.org.edit}">
                                <f:param name="orgId" value="#{org.id}" />
                                <f:param name="tabId" value="2" />
                            </p:button>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

