<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <title>#{pageTitle} - #{conf.applicationTitle}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="Content-Language" content="en" />
            <meta name="Keywords" content="list of keywords" />
            <meta name="Description" content="description text" />

            <!-- Following file used for menu highlight hover event binding -->
            <script src="#{conf.contextPath}#{conf.templatePath}/scripts/default.js" type="text/javascript"></script>
            
            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/site.css" media="all" />
        </h:head>
    
        <h:body>
            <div class="minMax">
                <div class="ui-helper-hidden-accessible" title="Accessibility tools">
                    <ul>
                        <li><a href="#content" accesskey="S">#{i18n['public.accessibility.main']}</a></li>
                        <li><a href="#container">#{i18n['public.accessibility.naviMenu']}</a></li>
                    </ul>
                </div>
    
                <div class="header ui-widget-header ui-corner-all">
                    <h:graphicImage rendered="#{conf.logoProvided}" value="#{conf.logoPath}" alt="#{conf.applicationTitle}" />
                    <a href="#{conf.contextPath}/">#{conf.applicationTitle}</a>
					<ui:fragment rendered="#{availableStocks.allStocksMeta.size() > 1}">
						<div class="floatRight">
							<h:form>
								<h:panelGrid columns="2">
									<p:outputLabel value="#{i18n['common.stock.selected']}:" for="selectDataStock" />
									<p:selectOneMenu id="selectDataStock" value="#{stockSelection.currentStockName}" valueChangeListener="#{stockSelection.stockChangeEventHandler}">
										<f:selectItems value="#{availableStocks.allStocksMeta}" var="stock" itemLabel="#{stock.name}" itemValue="#{stock.name}" />
										<f:ajax listener="#{stockSelection.navigate}" />
									</p:selectOneMenu>
								</h:panelGrid>
							</h:form>
						</div>
					</ui:fragment>
					<ui:fragment rendered="#{not empty stockSelection.currentStock}">
					<div class="clearRight selectedDataStock">#{i18n['common.stock']}: #{empty stockSelection.currentStock.longTitleValue ? stockSelection.currentStock.name : stockSelection.currentStock.longTitleValue}</div>
					</ui:fragment>
                </div>
    
                <div>
                    <ui:insert name="contentBody" />
                </div>
    
                <div class="footer ui-widget-header ui-corner-all">
                   <div id="rightFooter">soda4LCA #{conf.appVersion}</div>
                    <div id="leftFooter">
                        <h:panelGroup rendered="#{user.loggedIn}">
                            <h:link outcome="#{url.user.profile}" value="#{i18n['common.profile']}" />
                            |
                            <h:link outcome="#{url.user.password}" value="#{i18n['common.password']}" />
                            |
                            <h:link outcome="#{url.user.logout}" value="#{i18n['public.user.logout']}" />
                            <h:outputText value=" (#{i18n['admin.user']}: #{user.userName})" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not user.loggedIn}">
                            <h:link rendered="#{conf.registrationActivated}" outcome="#{url.user.registration}" value="#{i18n['public.user.register']}" />
                            <h:outputText rendered="#{conf.registrationActivated}" value=" | " />
                            <h:link outcome="#{url.user.login}" value="#{i18n['public.user.login']}" rendered="#{conf.displayConfig.showLoginLink}"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </h:body>
    </f:view>
</html>

