<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <h:body>
        <ui:composition template="#{conf.templatePath}/design.xhtml">
            <ui:define name="contentBody">
                <pe:importConstants className="de.iai.ilcd.util.SodaUtil" var="Constants" />
                <pe:importEnum type="de.iai.ilcd.model.common.DataSetType" var="DataSetType" />
                <div id="container">
                    <div id="leftColumn">
                        <ui:include src="#{conf.templatePath}/leftMenu.xhtml" />
                    </div>
                    <div id="rightColumn" style="margin-left: 220px; margin-right: 2%">

                        <div id="content">
                            <h1>#{pageTitle}</h1>
                            <div class="story">
                                <h:panelGroup rendered="#{not empty pageSubTitle}">
                                    <h2>#{pageSubTitle}</h2>
                                </h:panelGroup>
                                <ui:insert name="content">Content</ui:insert>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
