<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!--
Parameters for this composition:
	via ui:define:
		columns
	via ui:param:
		stockFilter (empty means no selection shown, list of IDataStockMeta)
		mostRecentVersionOnlyFilter
		mostRecentVersionOnlyBackingObject
		appendToBody
		includeMessages
		dataTableId
		backingBean
		lazyDataModel
		selectionProperty
		nameFilterField
		nameFilterActionMethod 
		selectedActionButtonLabel
		actionDialogHeader
		actionDialogMessage
		actionDialogOKLabel
		actionDialogCancelLabel
		actionDialogOKActionMethod
		publicShowFacelet
		initialRows (optional, default is 15)
		nameProperty (optional, default is name.defaultValue)
		namePropertyField (mandatory if nameProperty is declared, else optional and ignored if set)
		forceRootDsLink
-->



	<!-- CAUTION: This template is being used for: manageXXXXList.xhtml / stockEntry.xhtml (Assigning datasets, 2 times). -->

	<ui:param name="diaOpenBtnId" value="#{dataTableId}btn" />

	<div class="floatLeft">
		<p:commandButton id="#{diaOpenBtnId}" styleClass="#{diaOpenBtnId}"
			value="#{selectedActionButtonLabel}"
			onclick="PF('#{dataTableId}Confirm').show()" type="button"
			disabled="#{lazyDataModel.nothingSelected}" />

		<ui:insert name="additionalButtons" />
	</div>

	<p:confirmDialog message="#{actionDialogMessage}"
		header="#{actionDialogHeader}" severity="alert"
		widgetVar="#{dataTableId}Confirm"
		appendTo="#{appendToBody ? '@(body)' : ''}">
		<div class="confirmDlgButtons">
			<p:commandButton value="#{actionDialogCancelLabel}"
				onclick="PF('#{dataTableId}Confirm').hide();" />
			<!-- following button is a fake button because h/p:commandbutton won't trigger the action - bug?! -->
			<h:commandLink value="#{actionDialogOKLabel}"
				action="#{backingBean[actionDialogOKActionMethod]}"
				styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
				style="padding: 6.5px 11px;" />
		</div>
	</p:confirmDialog>
	
	<ui:fragment rendered="#{mostRecentVersionOnlyFilter}">
		<div class="floatLeft">
			<p:selectBooleanCheckbox
				value="#{mostRecentVersionOnlyBackingObject.mostRecentVersionOnly}"
				itemLabel="#{i18n['common.list.mostrecentversiononly']}">
				<p:ajax update="#{empty dtId ? dataTableId : dtId}" />
			</p:selectBooleanCheckbox>
		</div>
	</ui:fragment>

	<ui:fragment rendered="#{not empty stockFilter}">
		<div class="floatRight">
			<h:panelGrid columns="2">
				<p:outputLabel value="#{i18n['common.stock.selected']}:"
					for="#{dataTableId}_stockselection" />
				<p:selectOneMenu id="#{dataTableId}_stockselection"
					value="#{lazyDataModel.dataStock}" converter="#{dsMetaConverter}">
					<f:selectItem itemLabel="#{i18n['common.select.hint']}"
						noSelectionOption="true" />
					<f:selectItems value="#{stockFilter}" var="stockItem"
						itemLabel="#{stockItem.name}" itemValue="#{stockItem}" />
					<p:ajax update="#{dataTableId}" />
 				</p:selectOneMenu>
			</h:panelGrid>
		</div>
	</ui:fragment>

	<c:if test="#{includeMessages}">
		<div class="clearLeft" style="margin-bottom: -2.5em;">
			<ui:include src="/messages.xhtml" />
		</div>
	</c:if>

	<div class="clearLeft">
   	
			<p:dataTable id="#{dataTableId}" styleClass="#{dataTableId}"
				var="dataset" value="#{lazyDataModel}"
				lazy="true" selection="#{selectionProperty}" paginator="true"
				rows="#{empty initialRows ? 15 : initialRows}"
				rowsPerPageTemplate="5,10,15,50,100,#{lazyDataModel.rowCount > 100 ? lazyDataModel.rowCount : null}"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink}
		                 {PreviousPageLink} {PageLinks} {NextPageLink}
		                 {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}
		                 (#{lazyDataModel.rowCount} #{i18n['common.list.total']})"
				emptyMessage="#{i18n['common.list.noneFound']}"
				resizableColumns="true" sortMode="single" widgetVar="dataTable">

			<p:ajax event="rowSelectCheckbox" process="@this"
				update="@(.#{diaOpenBtnId})" />
			<p:ajax event="rowUnselectCheckbox" process="@this"
				update="@(.#{diaOpenBtnId})" />
			<p:ajax event="toggleSelect" process="@this"
				update="@(.#{diaOpenBtnId})" />
			
			<p:column style="text-align: center;" selectionMode="multiple" width="42"/>

			<p:column headerText="#{i18n['common.name']}"
				sortBy="#{dataset.name.getValueWithFallback(lang)}" filterBy="#{dataset.name}">
				<h:link outcome="/#{publicShowFacelet}.xhtml"
					value="#{empty nameProperty ? dataset.name.defaultValue : dataset[nameProperty][namePropertyField]}"
					title="#{dataset.uuidAsString}   #{dataset.version}">
					<f:param name="uuid" value="#{dataset.uuid.uuid}" />
					<f:param name="version" value="#{dataset.version}" />
				    <f:param name="stock" value="#{empty forceDs ? stockSelection.currentStockName : (forceDs == '$root$' ? dataset.rootDataStock.name : forceDs)}" />
				</h:link>
				<div style="margin: 2px 0; font-size: smaller;">
					UUID:
					<h:outputText value="#{dataset.uuid.uuid}" />
				</div>
			</p:column>

			<ui:insert name="columns">columns</ui:insert>

			<p:column headerText="#{i18n['admin.proc.version']}" sortBy="#{dataset.version}" rendered="#{conf.displayConfig.showManageDatasetVersion}" width="55">
				<h:outputText value="#{dataset.version}" />
			</p:column>

			<p:column headerText="#{i18n['admin.proc.mostrecent']}" sortBy="#{dataset.mostRecentVersion}" filterBy="#{dataset.mostRecentVersion}" filterMatchMode="exact" rendered="#{conf.displayConfig.showManageDatasetMostRecentVersion}" width="140">
				<f:facet name="filter">
	                <p:selectOneButton id="filter" onchange="PF('dataTable').filter();">
	                	<f:converter converterId="javax.faces.Boolean" />
    			        <f:selectItem itemLabel="#{i18n['common.list.mostrecentversiononly.all']}" itemValue="#{null}" />
      		        	<f:selectItem itemLabel="#{i18n['common.list.mostrecentversiononly.true']}" itemValue="#{true}" />
      		        	<f:selectItem itemLabel="#{i18n['common.list.mostrecentversiononly.false']}" itemValue="#{false}" />
                    </p:selectOneButton>
	            </f:facet>
				<h:outputText value="#{dataset.mostRecentVersion.toString()}" />
			</p:column>

			<p:column headerText="#{i18n['admin.stock.root']}" sortBy="#{dataset.rootDataStock.name}" filterBy="#{dataset.rootDataStock.name}" rendered="#{conf.displayConfig.showManageDatasetRootStock}">
  				<f:facet name="filter">
	                <p:selectOneMenu onchange="PF('dataTable').filter()" >
	                    <f:selectItem itemLabel="#{i18n['public.proc.list.filter.selectone']}" itemValue="#{null}" noSelectionOption="true" />
	                    <f:selectItems value="#{backingBean.stockHandler.rootDataStocks}" />
	                </p:selectOneMenu>
            	</f:facet>
				<h:outputLink id="stockid" value="#">
					<h:outputText value="#{dataset.rootDataStock.name}" />
				</h:outputLink>
				<p:tooltip id="toolTipStock" for="stockid" value="#{dataset.rootDataStock.longTitle.defaultValue}" />
			</p:column>

			<p:column headerText="#{i18n['admin.stock.containedIn']}" rendered="#{conf.displayConfig.showManageDatasetContainedIn and lazyDataModel.class.name.endsWith('AdminLazyDataModel')}">
				<ui:repeat value="#{dataset.containingDataStocks.toArray()}" var="stock">
					<ui:fragment rendered="#{stock.name ne dataset.rootDataStock.name}">
						<h:outputLink id="cstockid" value="#">
								<h:outputText value="#{stock.name}" /><br/>	
						</h:outputLink>
						<p:tooltip id="toolTipStock" for="cstockid" value="#{stock.longTitle.defaultValue}" />
					</ui:fragment>
				</ui:repeat>
			</p:column>

			<p:column headerText="#{i18n['common.importDate']}" sortBy="#{dataset.importDate}" rendered="#{conf.displayConfig.showManageDatasetImportDate}">
				<h:outputText value="#{dataset.importDate}" >
					<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
				</h:outputText>
			</p:column>
		</p:dataTable>
	</div>

</ui:composition>
