<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:ui="http://java.sun.com/jsf/facelets" template="datasetListTemplate.xhtml">

	<ui:param name="dataTableId" value="#{empty dtId ? 'processTable' : dtId}"/>
	<ui:param name="publicShowFacelet" value="showProcess"/>
	<ui:param name="nameFilterField" value=""/>

	<ui:define name="columns">

		<p:column headerText="#{i18n['common.type']}" rendered="#{conf.displayConfig.showManageProcessType}">
			<h:outputText value="#{dataset.type.value}"/>
		</p:column>

		<p:column headerText="#{i18n['common.proc.subtype']}" sortBy="#{dataset.subType}" rendered="#{conf.displayConfig.showManageProcessSubType}">
			<h:outputText value="#{dataset.subType.value}"/>
		</p:column>

		<p:column headerText="#{i18n['common.dataset.classif']}" sortBy="#{dataset.classification.classHierarchyAsString}" filterBy="#{classes}" rendered="#{conf.displayConfig.showManageDatasetClassification}">
			<h:outputText value="#{dataset.classification.getClassHierarchyAsString(conf.displayConfig.showManageProcessClassificationId)}"/>
		</p:column>

		<p:column sortBy="#{dataset.location}" filterBy="#{location}" filterMatchMode="in" rendered="#{conf.displayConfig.showManageProcessLocation}" width="60">
       		<f:facet name="filter">
                <p:selectCheckboxMenu label="#{i18n['common.dataset.location']}" onchange="PF('dataTable').filter()" panelStyle="width:125px" scrollHeight="280">
                    <f:selectItems value="#{backingBean.locations}" />
                </p:selectCheckboxMenu>
            </f:facet>

			<h:outputText value="#{dataset.geography.location}"/>
		</p:column>

		<p:column headerText="#{i18n['common.dataset.refYear']}" sortBy="#{dataset.timeInformation.referenceYear}" filterBy="#{referenceYear}" rendered="#{conf.displayConfig.showManageProcessReferenceYear}" width="80">
			<h:outputText value="#{dataset.timeInformation.referenceYear}"/>
		</p:column>

		<p:column headerText="#{i18n['common.proc.validUntilYear']}" sortBy="#{dataset.timeInformation.validUntil}" filterBy="#{validUntil}" rendered="#{conf.displayConfig.showManageProcessValidUntil}" width="80">
			<h:outputText value="#{dataset.timeInformation.validUntil}"/>
		</p:column>

	</ui:define>

	<div class="floatRight">
		<ui:define name="additionalButtons">
			<c:if test="#{showRegistryControls and applicationInfoBean.registryBasedNetworking}">
				<ui:include src="registrationControls.xhtml"/>
			</c:if>
		</ui:define>
	</div>

</ui:composition>
