<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<h:panelGroup id="btnPanel">
		<p:commandButton id="btnRegisterSelected" styleClass="processTablebtn" value="#{i18n['admin.registerSelected']}" action="#{processListHandler.registerSelected}"
			ajax="false" rendered="#{includeActions and applicationInfoBean.registryBasedNetworking}" disabled="#{processListHandler.nothingSelected}"/>

		<p:commandButton id="btnDeregisterSelected" styleClass="processTablebtn" value="#{i18n['admin.deregisterSelected']}" onclick="PF('deregistration').show()"
			rendered="#{includeActions and applicationInfoBean.registryBasedNetworking and processListHandler.registry!=null}" disabled="#{processListHandler.nothingSelected}"/>
	</h:panelGroup>

	<p:dialog header="#{i18n['admin.deregisterDataSets.deregistrationHeader']}" widgetVar="deregistration" resizable="false" severity="alert" modal="true" width="340"
		onHide="document.getElementById('deregistrationreason').value=''">
		<h:panelGrid columns="1">
			<h:outputText for="deregistrationreason" value="#{i18n['admin.deregisterDataSets.areYouSureDeregister']}"/>
			<h:outputText for="deregistrationreason" value="#{i18n['admin.deregisterDataSets.enterDeregistrationReason']}"/>
			<p:inputTextarea id="deregistrationreason" value="#{processListHandler.reason}" style="width:300px;height:100px;"/>
		</h:panelGrid>
		<p:commandButton value="#{i18n['common.button.yes']}" oncomplete="PF('deregistration').hide();" actionListener="#{processListHandler.deregisterSelected}" ajax="false"/>
		<p:commandButton value="#{i18n['common.button.no']}" onclick="PF('deregistration').hide();" type="button"/>
	</p:dialog>

	<div class="floatLeft">
		<h:panelGrid columns="2" rendered="#{applicationInfoBean.registryBasedNetworking}">
			<h:outputLabel value="#{i18n['admin.proc.registeredIn']}:" for="reg"/>
			<h:selectOneMenu id="reg" value="#{processListHandler.registry}">
				<f:selectItems value="#{registriesSelectItems.items}"/>
				<p:ajax event="valueChange" process="@this" update="@(#processTable, #btnPanel)"/>
			</h:selectOneMenu>
		</h:panelGrid>
	</div>

</ui:composition>
