<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
	<f:view contentType="text/html" locale="#{localeBean.locale}">
		<h:head>
			<title>#{pageAndPanelTitle}</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<h:outputStylesheet name="css/datasetdetail.css" />
			<h:outputScript name="js/datasetdetail.js" />
		</h:head>
	
		<h:body>
			<pe:importEnum type="de.iai.ilcd.model.common.DataSetType" var="DataSetType" />
			<p:panel id="datasetdetailPanel">
				<f:facet name="header">
					<a id="closeButton" href="javascript:close();" style="float:right;"
						class="expanded ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">#{i18n['button.close']}</a>
					
					<a id="backButton" href="javascript:history.back();" style="float:right;"
						class="expanded ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">#{i18n['button.back']}</a>
					
					<a id="toggleFakeButton" href="javascript:void(0);"
						class="expanded ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
						data-collapseAll="#{i18n['button.collapseAll']}"
						data-collapse="#{i18n['button.collapse']}"
						data-expandAll="#{i18n['button.expandAll']}"
						data-expand="#{i18n['button.expand']}">#{i18n['button.collapseAll']}</a>
					<h:outputText id="datasetdetailPanelHeader" value="#{pageAndPanelTitle}" />
				</f:facet>
						
				<ui:insert name="content" />
				
			</p:panel>
		</h:body>
	</f:view>
</html>