<?xml version='1.0' encoding='UTF-8' ?>
<!--
Parameters for this composition:
	via ui:param:
		flowHandler
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	template="./datasetTemplateDetailView.xhtml">
	
	<ui:param name="flow" value="#{flowHandler.flow}" />
	<ui:param name="xmlFlowInfo" value="#{flowHandler.xmlDataset.flowInformation}" />
	<ui:param name="lang" value="#{localeBean.locale.language}" />
	<ui:param name="pageAndPanelTitle" value="#{flow.elementaryFlow ? i18n['common.elementaryFlow'] : i18n['common.productFlow']}#{i18n['delimiter']}#{i18n['public.dataset']}: #{flow.name.getValueWithFallback(lang)} (#{lang})" />
	<ui:define name="content">
		<p:accordionPanel id="accPanel" multiple="true" widgetVar="accPanelWidget" activeIndex="0,1,2,3">
			<!-- section -->
			<p:tab title="#{i18n['common.flow']}#{i18n['delimiter']}#{i18n['common.info']}" titletip="#{i18n['button.collapse']}" titleStyleClass="ui-state-highlight">
				<p:panelGrid>
					<!-- subsection -->
					<p:row>
						<p:column colspan="2" styleClass="ui-state-hover">
							#{i18n['public.dataset']}#{i18n['delimiter']}#{i18n['common.info']}
						</p:column>
					</p:row>
					<p:row>
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="name"
								outputTextValue="#{i18n['common.name']}"
								tooltipValue="#{tooltip['flow.name']}" />
						</p:column>
						<p:column>
							#{flow.name.getValueWithFallback(lang)}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flow.synonyms.getValueWithFallback(lang)}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="synonyms"
								outputTextValue="#{i18n['public.dataset.synonyms']}"
								tooltipValue="#{tooltip['dataset.synonyms']}" />
						</p:column>
						<p:column>
							#{flow.synonyms.getValueWithFallback(lang)}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty xmlFlowInfo.dataSetInformation.classificationInformation.classification or not empty xmlFlowInfo.dataSetInformation.classificationInformation.elementaryFlowCategorization}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="classification"
								outputTextValue="#{i18n['common.dataset.classif']}"
								tooltipValue="#{tooltip['dataset.classification']}" />
						</p:column>
						<p:column>
							<div>
								<soda:outputTextTooltip
									outputTextId="className"
									outputTextValue="#{i18n['common.className']}"
									tooltipValue="#{tooltip['dataset.className']}"
									inline="true" />
								<h:outputText value=": " />
								<soda:outputTextTooltip
									outputTextId="classLevel"
									outputTextValue="#{i18n['common.hierarchyLevel']}"
									tooltipValue="#{tooltip['dataset.classLevel']}"
									inline="true" />
							</div>
							<soda:dataListStyled dataListValue="#{xmlFlowInfo.dataSetInformation.classificationInformation.classification}">
								<ui:param name="flowClass" value="#{dataListStyledVar}" />
								#{flowClass.name}:
								<ui:repeat value="#{flowClass.clazz}" var="clazz" varStatus="clazzStatus">
									#{clazz.value}
									<h:outputText value=" / " rendered="#{not clazzStatus.last}" />
								</ui:repeat>
							</soda:dataListStyled>
							<soda:dataListStyled dataListValue="#{xmlFlowInfo.dataSetInformation.classificationInformation.elementaryFlowCategorization}">
								<ui:param name="flowCat" value="#{dataListStyledVar}" />
								#{flowCat.name}:
								<ui:repeat value="#{flowCat.category}" var="cat" varStatus="catStatus">
									#{cat.value}
									<h:outputText value=" / " rendered="#{not catStatus.last}" />
								</ui:repeat>
							</soda:dataListStyled>
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flow.casNumber}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="CASNumber"
								outputTextValue="#{i18n['public.flow.casNo']}"
								tooltipValue="#{tooltip['flow.CASNumber']}" />
						</p:column>
						<p:column>
							#{flow.casNumber}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flow.sumFormula}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="sumFormula"
								outputTextValue="#{i18n['public.flow.sumFormula']}"
								tooltipValue="#{tooltip['flow.sumFormula']}" />
						</p:column>
						<p:column>
							#{flow.sumFormula}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flow.description.getValueWithFallback(lang)}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="generalComment"
								outputTextValue="#{i18n['public.dataset.comment']}"
								tooltipValue="#{tooltip['flow.generalComment']}" />
						</p:column>
						<p:column>
							#{flow.description.getValueWithFallback(lang)}
						</p:column>
					</p:row>
					<p:row rendered="#{flow.isProductFlow() and not empty flow.isAReference}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="isA"
								outputTextValue="#{i18n['common.productFlow.isA']}"
								tooltipValue="#{tooltip['flow.isA']}" />
						</p:column>
						<p:column>
							<soda:switchLinkOrText
								outputLinkValue="#{flowHandler.getReferenceUrl(flow.isAReference, url.flow)}"
								outputLinkTitle="#{i18n['common.flow']}#{i18n['delimiter']}#{i18n['public.dataset']}"
								outputTextValue="#{flow.isAReference.shortDescription.getValueWithFallback(lang)}" />
						</p:column>
					</p:row>
					<p:row rendered="#{flow.isProductFlow() and not empty flow.materialProperties}">
						<p:column styleClass="ui-state-hover transp">
							#{i18n['common.productFlow.materialProperties']}
						</p:column>
						<p:column>
							<p:dataList value="#{flow.materialProperties.toArray()}" var="matProp" styleClass="#{flow.materialProperties.size() == 1 ? 'ourDataListNoBullet' : 'ourDataList'}">
 								<h:outputText value="#{fn:startsWith(epd[flowHandler.getValueFromMatPropKey(matProp.definition.name)], '???') ? matProp.definition.name : epd[flowHandler.getValueFromMatPropKey(matProp.definition.name)] }: #{matProp.value} #{matProp.definition.unit}" /> 
							</p:dataList>
						</p:column>
					</p:row>
					<!-- subsection -->
					<p:row rendered="#{not empty flow.referenceFlowProperty.flowPropertyRef}">>
						<p:column colspan="2" styleClass="ui-state-hover">
							#{i18n['common.quantitativeReference']}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flow.referenceFlowProperty.flowPropertyRef}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="referenceToReferenceFlowProperty"
								outputTextValue="#{i18n['public.flow.refFlowProperty']}"
								tooltipValue="#{tooltip['flow.referenceToReferenceFlowProperty']}" />
						</p:column>
						<p:column>
							<soda:switchLinkOrText
								outputLinkValue="#{flowHandler.getReferenceUrl(flow.referenceFlowProperty.flowPropertyRef, url.flowProperty)}"
								outputLinkTitle="#{i18n['common.flowProperty.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
								outputTextValue="#{flow.referenceFlowProperty.flowPropertyName.getValueWithFallback(lang)}"
								outputTextValueUnit="#{flow.referenceFlowProperty.defaultUnit}" />
						</p:column>
					</p:row>
					<!-- subsection -->
					<p:row rendered="#{not empty flowHandler.getMultilangWithFallback(lang, xmlFlowInfo.geography.locationOfSupply).value}">
						<p:column colspan="2" styleClass="ui-state-hover">
							#{i18n['common.geography']}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flowHandler.getMultilangWithFallback(lang, xmlFlowInfo.geography.locationOfSupply).value}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="locationOfSupply"
								outputTextValue="#{i18n['common.locationSupply']}"
								tooltipValue="#{tooltip['flow.locationOfSupply']}" />
						</p:column>
						<p:column>
							#{flowHandler.getMultilangWithFallback(lang, xmlFlowInfo.geography.locationOfSupply).value}
						</p:column>
					</p:row>
					<!-- subsection -->
					<p:row rendered="#{not empty flowHandler.getMultilangWithFallback(lang, xmlFlowInfo.technology.technologicalApplicability).value} or not empty xmlFlowInfo.technology.referenceToTechnicalSpecification">
						<p:column colspan="2" styleClass="ui-state-hover">
							#{i18n['common.technologicalRepresentativeness']}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty flowHandler.getMultilangWithFallback(lang, xmlFlowInfo.technology.technologicalApplicability).value}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="technologicalApplicability"
								outputTextValue="#{i18n['common.flow.technologicalApplicability']}"
								tooltipValue="#{tooltip['flow.technologicalApplicability']}" />
						</p:column>
						<p:column>
							#{flowHandler.getMultilangWithFallback(lang, xmlFlowInfo.technology.technologicalApplicability).value}
						</p:column>
					</p:row>
					<p:row rendered="#{not empty xmlFlowInfo.technology.referenceToTechnicalSpecification}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="referenceToTechnicalSpecification"
								outputTextValue="#{i18n['common.referenceToTechnicalSpecification']}"
								tooltipValue="#{tooltip['flow.referenceToTechnicalSpecification']}" />
						</p:column>
						<p:column>
							<soda:dataListStyled dataListValue="#{xmlFlowInfo.technology.referenceToTechnicalSpecification}">
								<ui:param name="ref" value="#{dataListStyledVar}" />
								<soda:dataListLinkOrText
									dataListValue="#{flowHandler.getMultilangWithFallback(lang, ref.shortDescription)}"
									outputLinkValue="#{flowHandler.getReferenceUrlXml(ref, url.source)}"
									outputLinkTitle="#{i18n['common.source.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
									repeatValue="#{ref.subReference}" />
							</soda:dataListStyled>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:tab>
			
			<!-- section -->
			<p:tab title="#{i18n['common.modellingValidation']}" titletip="#{i18n['button.collapse']}" titleStyleClass="ui-state-highlight">
				<p:panelGrid>
					<!-- subsection -->
					<p:row>
						<p:column colspan="2" styleClass="ui-state-hover">
							#{i18n['common.lciMethod']}
						</p:column>
					</p:row>
					<p:row>
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="typeOfDataSet"
								outputTextValue="#{i18n['common.typeOfFlow']}"
								tooltipValue="#{tooltip['flow.typeOfDataSet']}" />
						</p:column>
						<p:column>
							#{flow.type.value}
						</p:column>
					</p:row>
					<!-- EPD specific BEGIN -->
					<p:row rendered="#{not flowHandler.elementaryFlow and flow.specificProduct}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="specificProduct"
								outputTextValue="EPD herstellerspezifisches Produkt"
								tooltipValue="specificProduct" />
						</p:column>
						<p:column>
							#{i18n['common.button.yes']}
						</p:column>
					</p:row>
					<p:row rendered="#{not flowHandler.elementaryFlow and not empty flow.vendorReference}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="vendorReference"
								outputTextValue="EPD Hersteller"
								tooltipValue="vendorReference" />
						</p:column>
						<p:column>
							<soda:switchLinkOrText
								outputLinkValue="#{flowHandler.getReferenceUrl(flow.vendorReference, url.contact)}"
								outputLinkTitle="#{i18n['common.contact']}#{i18n['delimiter']}#{i18n['public.dataset']}"
								outputTextValue="#{flow.vendorReference.shortDescription.getValueWithFallback(lang)}" />
						</p:column>
					</p:row>
					<p:row rendered="#{not flowHandler.elementaryFlow and not empty flow.sourceReference}">
						<p:column styleClass="ui-state-hover transp">
							<soda:outputTextTooltip
								outputTextId="sourceReference"
								outputTextValue="EPD Quelle"
								tooltipValue="sourceReference" />
						</p:column>
						<p:column>
							<soda:switchLinkOrText
								outputLinkValue="#{flowHandler.getReferenceUrl(flow.sourceReference, url.source)}"
								outputLinkTitle="#{i18n['common.source.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
								outputTextValue="#{flow.sourceReference.shortDescription.getValueWithFallback(lang)}" />
						</p:column>
					</p:row>
					<!-- EPD specific END -->
					<!-- subsection -->
					<p:row rendered="#{not empty flowHandler.xmlDataset.modellingAndValidation.complianceDeclarations.compliance}">
						<p:column colspan="2" styleClass="ui-state-hover">
							#{i18n['public.proc.compliance.tooltip.headline']}
						</p:column>
					</p:row>
				</p:panelGrid>
				<ui:include src="./include/compliance.xhtml">
					<ui:param name="xmlCompliances" value="#{flowHandler.xmlDataset.modellingAndValidation.complianceDeclarations.compliance}" />
					<ui:param name="handler" value="#{flowHandler}" />
				</ui:include>
			</p:tab>
			
			<ui:include src="./include/tab_administrative.xhtml">
				<ui:param name="dataset" value="#{flow}" />
				<ui:param name="datasetHandler" value="#{flowHandler}" />
				<ui:param name="datasetTitle" value="#{i18n['common.flow']}" />
				<ui:param name="urlBeanDataset" value="#{url.flow}" />
			</ui:include>
			
			<!-- section -->
			<p:tab rendered="#{not empty flow.propertyDescriptions}" title="#{i18n['common.flowProperties']}" titletip="#{i18n['button.collapse']}" titleStyleClass="ui-state-highlight">
				<p:dataTable value="#{flow.propertyDescriptions.toArray()}" var="flowPropDesc" styleClass="lotsofcolumns">
					<p:column headerText="#{i18n['common.flowProperty.wrapped']}">
						<soda:switchLinkOrText
							outputLinkValue="#{flowHandler.getReferenceUrl(flowPropDesc.flowPropertyRef, url.flowProperty)}"
							outputLinkTitle="#{i18n['common.flowProperty.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
							outputTextValue="#{flowPropDesc.flowPropertyRef.shortDescription.getValueWithFallback(lang)}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="meanValue"
								outputTextValue="#{i18n['common.meanValue']}"
								tooltipValue="#{tooltip['flow.meanValue']}" />
						</f:facet>
						#{flowPropDesc.meanValue}
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="minimumValue"
								outputTextValue="#{i18n['common.minimumValue']}"
								tooltipValue="#{tooltip['flow.minimumValue']}" />
						</f:facet>
						#{flowPropDesc.minValue}
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="maximumValue"
								outputTextValue="#{i18n['common.maximumValue']}"
								tooltipValue="#{tooltip['flow.maximumValue']}" />
						</f:facet>
						#{flowPropDesc.maxValue}
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="uncertaintyDistributionType"
								outputTextValue="#{i18n['common.uncertaintyDistributionType.wrapped']}"
								tooltipValue="#{tooltip['dataset.uncertaintyDistributionType']}" />
						</f:facet>
						#{flowPropDesc.uncertaintyType}
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="relativeStandardDeviation95In"
								outputTextValue="#{i18n['common.relativeStdDev.wrapped']}"
								tooltipValue="#{tooltip['dataset.relativeStandardDeviation95In']}" />
						</f:facet>
						#{flowPropDesc.standardDeviation} %
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="dataDerivationTypeStatus"
								outputTextValue="#{i18n['common.dataDerivationTypeStatus.wrapped']}"
								tooltipValue="#{tooltip['flow.dataDerivationTypeStatus']}" />
						</f:facet>
						#{flowPropDesc.derivationType}
					</p:column>
					<p:column>
						<f:facet name="header">
							<soda:outputTextTooltip
								outputTextId="flowPropDescGeneralComment"
								outputTextValue="#{i18n['public.dataset.comment.wrapped']}"
								tooltipValue="#{tooltip['flow.generalComment']}" />
						</f:facet>
						#{flowPropDesc.description.getValueWithFallback(lang)}
					</p:column>
				</p:dataTable>
			</p:tab>
		</p:accordionPanel>
		
		<ui:fragment rendered="#{conf.displayConfig.showBackLinks}">
			<ui:include src="./include/backLinks.xhtml">
				<ui:param name="linkDetailOutcome" value="#{url.flow.getDetail(flow)}" />
				<ui:param name="linkListOutcome" value="#{url.flow.getWrappedList(flow)}" />
				<ui:param name="linkValue" value="#{flow.elementaryFlow ? i18n['common.elementaryFlow'] : i18n['common.productFlow']}" />
			</ui:include>
		</ui:fragment>
	</ui:define>
</ui:composition>