<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<f:metadata>
		<f:viewParam name="uuid" value="#{processHandler.dataSetUuidString}" />
		<f:viewParam name="version" value="#{processHandler.dataSetVersionString}" />
		<f:event type="javax.faces.event.PreRenderViewEvent" listener="#{processHandler.postViewParamInit(true)}" />
	</f:metadata>

	<h:body>
		<ui:composition template="./datasetTemplateDetailView.xhtml">
			<ui:param name="process" value="#{processHandler.process}" />
			<ui:param name="xmlProcessInfo" value="#{processHandler.xmlDataset.processInformation}" />
			<ui:param name="xmlProcessModelValid" value="#{processHandler.xmlDataset.modellingAndValidation}" />
			<ui:param name="xmlProcessAdminInfo" value="#{processHandler.xmlDataset.administrativeInformation}" />
			<ui:param name="lang" value="#{localeBean.locale.language}" />
			<ui:param name="pageAndPanelTitle" value="#{i18n['common.proc']}#{i18n['delimiter']}#{i18n['public.dataset']}: #{process.name.getValueWithFallback(lang)} (#{lang})" />
			<ui:define name="content">
				<pe:switch value="#{processHandler.EPD}">
					<pe:case value="#{true}">
						<ui:include src="process_epd.xhtml" />
					</pe:case>
					<pe:case value="#{false}">
						<ui:include src="process_other.xhtml" />
					</pe:case>
				</pe:switch>
			</ui:define>
		</ui:composition>
	</h:body>
</html>