<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="process_template.xhtml">
	
	<ui:define name="row_epd_classificationNumber">
		<p:row>
			<p:column styleClass="ui-state-hover transp">
				#{epd['classificationNumber']}
			</p:column>
			<p:column>
				<ui:repeat value="#{xmlProcessInfo.dataSetInformation.classificationInformation.classification}" var="classification">
					<h:outputText value="#{processHandler.getLastElementOfList(classification.clazz).classId}" rendered="#{classification.name.equalsIgnoreCase('OEKOBAU.DAT')}" />
				</ui:repeat>
			</p:column>
		</p:row>
	</ui:define>
	
	<ui:define name="row_epd_safetyMargins">
		<!-- subsection -->
		<p:row rendered="#{process.safetyMargins.margins > 0}">
			<p:column styleClass="ui-state-hover transp">
				<soda:outputTextTooltip
					outputTextId="safetyMargins"
					outputTextValue="#{epd['safetyMargins']}"
					tooltipValue="#{tooltip['epd.safetyMargins']}" />
			</p:column>
			<p:column>
				#{process.safetyMargins.margins}
			</p:column>
		</p:row>
		<p:row rendered="#{not empty process.safetyMargins.description.getValueWithFallback(lang)}">
			<p:column styleClass="ui-state-hover transp">
				<soda:outputTextTooltip
					outputTextId="safetyMarginsDescription"
					outputTextValue="#{epd['safetyMarginsDescription']}"
					tooltipValue="#{tooltip['epd.safetyMarginsDescription']}" />
			</p:column>
			<p:column>
				#{process.safetyMargins.description.getValueWithFallback(lang)}
			</p:column>
		</p:row>
	</ui:define>
	
	<ui:define name="row_epd_scenarios">
		<!-- subsection -->
		<p:row rendered="#{not empty process.scenarios}">
			<p:column styleClass="ui-state-hover transp">
				<soda:outputTextTooltip
					outputTextId="scenarios"
					outputTextValue="#{epd['scenarios']}"
					tooltipValue="#{tooltip['epd.scenarios']}" />
			</p:column>
			<p:column>
				<soda:dataListStyled dataListValue="#{process.scenarios}">
					<ui:param name="scenario" value="#{dataListStyledVar}" />
					#{epd['scenario']}#{processHandler.groupHint(scenario.group)}: #{scenario.description.getValueWithFallback(lang)}#{scenario.default ? ' ('.concat(epd['standard']).concat(")") : ''}
				</soda:dataListStyled>
			</p:column>
		</p:row>
	</ui:define>
	
	<ui:define name="row_epd_subType">
		<p:row rendered="#{not empty process.subType.value}">
			<p:column styleClass="ui-state-hover transp">
				<soda:outputTextTooltip
					outputTextId="subType"
					outputTextValue="#{epd['subType']}"
					tooltipValue="#{tooltip['epd.subType']}" />
			</p:column>
			<p:column>
				#{process.subType.value}
			</p:column>
		</p:row>
	</ui:define>

	<ui:define name="tab_epd_environmentalIndicators">
		<!-- section -->
		<p:tab title="#{epd['environmentalIndicators']}" titletip="#{i18n['button.collapse']}" titleStyleClass="ui-state-highlight">
			<pe:switch value="#{user.hasDatasetDetailRights(process)}">
				<pe:case value="#{true}">
					<ui:include src="./include/datatableExchangesIndicators.xhtml">
						<ui:param name="exchanges" value="#{process.exchangesExcludingRefFlows}" />
					</ui:include>
					<h:form id="lciaindicatorsform">
						<p style="font-weight:bold">#{epd['indicatorsImpactAssessment']}</p>
						<p:dataTable rendered="#{not empty process.lciaResults}" value="#{process.lciaResults}" var="lciaResult" styleClass="epd">
							<p:column headerText="#{epd['indicator']}" sortBy="#{lciaResult.methodReference.shortDescription.value}">
								<soda:switchLinkOrText
									outputLinkValue="#{processHandler.getReferenceUrl(lciaResult.methodReference, url.lciaMethod)}"
									outputLinkTitle="#{i18n['common.lciaMethod.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
									outputTextValue="#{lciaResult.methodReference.shortDescription.getValueWithFallback(lang)}" />
							</p:column>
							<p:column headerText="#{i18n['common.unit']}" sortBy="#{lciaResult.unitGroupReference.shortDescription.getValueWithFallback(lang)}">
								<soda:switchLinkOrText
									outputLinkValue="#{processHandler.getReferenceUrl(lciaResult.unitGroupReference, url.unitGroup)}"
									outputLinkTitle="#{i18n['common.unitGroup.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
									outputTextValue="#{lciaResult.unitGroupReference.shortDescription.getValueWithFallback(lang)}" />
							</p:column>
							<p:columns value="#{process.declaredModulesScenariosForLciaResults}" var="moduleScenario" columnIndexVar="colIndex" styleClass="amount">
								<f:facet name="header">
									#{epd[moduleScenario[0].concat("_2")]}<br />
									#{epd[moduleScenario[0].concat("_1")]}<br />
									#{not empty moduleScenario[1] ? process.getScenario(moduleScenario[1]).description.getValueWithFallback(lang).concat(process.getScenario(moduleScenario[1]).default ? ' ('.concat(epd['standard']).concat(")") : '') : ''}
								</f:facet>
								<p:dataList value="#{empty moduleScenario[1] ? lciaResult.getAmountByModule(moduleScenario[0]) : lciaResult.getAmountByModuleScenario(moduleScenario[0], moduleScenario[1])}" var="amount" styleClass="ourDataListNoBullet">
									<h:outputText value="#{not empty amount.value ? amount.roundedAndFormattedValue : '-'}" title="#{not empty amount.value ? amount.value : '-'}" />
								</p:dataList>
							</p:columns>
						</p:dataTable>
					</h:form>
				</pe:case>
				<pe:case value="#{false}">
					<h:outputText value="#{i18n['common.accessRestrictedMetadataOnly']}" styleClass="ui-state-error" />
				</pe:case>
			</pe:switch>
		</p:tab>
	</ui:define>
	
</ui:composition>