<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="process_template.xhtml">
	
	<ui:define name="tabs_other_inputsOutputs_lciaResults">
		<!-- section -->
		<p:tab rendered="#{not empty process.exchanges}" title="#{i18n['common.inputsOutputs']}" titletip="#{i18n['button.collapse']}" titleStyleClass="ui-state-highlight">
			<pe:switch value="#{user.hasDatasetDetailRights(process)}">
				<pe:case value="#{true}">
					<p>#{i18n['common.inputs']}</p>
					<ui:include src="./include/datatableExchanges.xhtml">
						<ui:param name="exchanges" value="#{process.getExchanges('INPUT')}" />
					</ui:include>
					<p>#{i18n['common.outputs']}</p>
					<ui:include src="./include/datatableExchanges.xhtml">
						<ui:param name="exchanges" value="#{process.getExchanges('OUTPUT')}" />
					</ui:include>
				</pe:case>
				<pe:case value="#{false}">
					<h:outputText value="#{i18n['common.accessRestrictedMetadataOnly']}" styleClass="ui-state-error" />
				</pe:case>
			</pe:switch>
		</p:tab>
		
		<!-- section -->
		<p:tab rendered="#{not empty process.lciaResults}" title="#{i18n['common.lciaResults']}" titletip="#{i18n['button.collapse']}" titleStyleClass="ui-state-highlight">
			<pe:switch value="#{user.hasDatasetDetailRights(process)}">
				<pe:case value="#{true}">
					<p:dataTable rendered="#{not empty process.lciaResults}" value="#{process.lciaResults}" var="lciaResult" styleClass="lotsofcolumns">
						<p:column>
							<f:facet name="header">
								<soda:outputTextTooltip
									outputTextId="referenceToLCIAMethodDataSet"
									outputTextValue="#{i18n['common.lciaMethod.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
									tooltipValue="#{tooltip['process.referenceToLCIAMethodDataSet']}" />
							</f:facet>
							<soda:switchLinkOrText
								outputLinkValue="#{processHandler.getReferenceUrl(lciaResult.methodReference, url.lciaMethod)}"
								outputLinkTitle="#{i18n['common.lciaMethod.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
								outputTextValue="#{lciaResult.methodReference.shortDescription.getValueWithFallback(lang)}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<soda:outputTextTooltip
									outputTextId="meanAmount"
									outputTextValue="#{i18n['common.meanAmount']}"
									tooltipValue="#{tooltip['process.meanAmount']}" />
							</f:facet>
							#{lciaResult.meanAmount}
						</p:column>
						<p:column>
							<f:facet name="header">
								<soda:outputTextTooltip
									outputTextId="uncertaintyDistributionType"
									outputTextValue="#{i18n['common.uncertaintyDistributionType.wrapped']}"
									tooltipValue="#{tooltip['process.uncertaintyDistributionType']}" />
							</f:facet>
							#{lciaResult.uncertaintyDistribution}
						</p:column>
						<p:column>
							<f:facet name="header">
								<soda:outputTextTooltip
									outputTextId="relativeStandardDeviation95In"
									outputTextValue="#{i18n['common.relativeStdDev.wrapped']}"
									tooltipValue="#{tooltip['dataset.relativeStandardDeviation95In']}" />
							</f:facet>
							#{lciaResult.standardDeviation} %
						</p:column>
						<p:column>
							<f:facet name="header">
								<soda:outputTextTooltip
									outputTextId="generalComment"
									outputTextValue="#{i18n['public.dataset.comment.wrapped']}"
									tooltipValue="#{tooltip['process.lciaResult.generalComment']}" />
							</f:facet>
							#{lciaResult.comment.getValueWithFallback(lang)}
						</p:column>
					</p:dataTable>
				</pe:case>
				<pe:case value="#{false}">
					<h:outputText value="#{i18n['common.accessRestrictedMetadataOnly']}" styleClass="ui-state-error" />
				</pe:case>
			</pe:switch>
		</p:tab>
	</ui:define>
	
</ui:composition>