<!-- 
Copyright (c) 2011 Karlsruhe Institute of Technology (KIT) - Institute for 
Applied Computer Science (IAI). 

This file is part of soda4LCA - the Service-Oriented Life Cycle Data Store.

soda4LCA is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by the 
Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

soda4LCA is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with soda4LCA.  If not, see <http://www.gnu.org/licenses/>.
-->
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set( $flow = $dataset )
#set ($xmlFlow = $xmlDataset)
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <title>Flow data set: $!flow.getName().getDefaultValue() (en)</title>

    #include("/html/style.vm")

   </head>
   <body>
      <table class="top" cellpadding="3px">
         <tr>
            <td class="title" colspan="2">Flow data set: $!flow.getName().getDefaultValue() (en)</td>
         </tr>

         <tr>
            <td class="section" colspan="2" style="padding-left: 10px;"><a name="flowInformation"></a>Flow information
            </td>
         </tr>

         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">Data set information</td>
         </tr>


         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Name<span>General descriptive and specifying name of the flow.</span></a></td>
            <td class="data"><span class="data_neutral">
                  <table width="100%" border="0">
                     <tr valign="bottom">
                        <td class="fieldname"><a class="info" href="javascript:void(0);">Base name<span>General descriptive name of the elementary, waste or product flow, for the latter including it's level of processing.</span></a><a class="info" href="javascript:void(0);">; <span></span></a></td>
                     </tr>
                     <tr valign="bottom">
                        <td class="data">$!flow.getName().getDefaultValue()</td>
                     </tr>
                  </table></span></td>
         </tr>


         <tr>
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Classification<span>Optional statistical or other classification of the data set. Typically also used for structuring LCA databases.</span></a></td>
            <td class="data">
               <table class="data">
                  <tr>
                     <td class="fieldname"><a class="info" href="javascript:void(0);">Class name<span>Name of the class.</span></a><a class="info" href="javascript:void(0);"> / Hierarchy level<span>Hierarchy level (1,2,...), if the categorization system is hierachical, otherwise emtpy or not used.</span></a></td>
                  </tr>
                  <tr>
                     <td class="data">
                        #if($flow.getType().getValue().equals("Elementary flow"))
                            $!flow.getCategorization().getClassHierarchyAsString()
                        #else
                            $!flow.getClassification().getClassHierarchyAsString()
                        #end
                     </td>
                  </tr>
               </table>
            </td>
         </tr>


         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">CAS Number<span>Chemical Abstract Systems Number of the substance. [Note: Should only be given for (virtually) pure substances, but NOT also
                     for the main constituent of a material or product etc.]</span></a></td>
            <td class="data"><span class="data_neutral">$!flow.getCasNumber()</span></td>
         </tr>

         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Sum formula<span>Chemical sum formula of the substance.</span></a></td>
            <td class="data"><span class="data_neutral">$!flow.getSumFormula()</span></td>
         </tr>


         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">Quantitative reference</td>
         </tr>

         #set($refproperty=$flow.getReferenceProperty())
         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Reference flow property<span>One of the Flow's Flow properties, which is set as the default flow property in which the flow measured. (Data set internal
                     reference to one of the flow properties in section "Quantitative flow properties".)</span></a></td>
            <td class="data"><span class="data_neutral"><a href="../flowproperties/$!refproperty.getFlowPropertyRef().getUuid().getUuid()" title="" class="">$!refproperty.getFlowPropertyName().getDefaultValue() ($!refproperty.getFlowPropertyUnit())</a></span></td>
         </tr>



         <tr>
            <td class="section" colspan="2" style="padding-left: 10px;"><a name="modellingAndValidation"></a>Modelling and validation
            </td>
         </tr>

         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">LCI method</td>
         </tr>

         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Type of flow<span>Names the basic type of the flow.</span></a></td>
            <td class="data"><span class="data_enum"><a class="info" href="javascript:void(0);">$!flow.getType().getValue()<span></span></a></span></td>
         </tr>


         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">Compliance declarations</td>
         </tr>
         <tr>
            <td colspan="2">
               <table>
                  <tr>
                     <tr class="">
                        <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Compliance<span>one compliance declaration</span></a></td>
                        <td class="data"><span class="data_neutral">

                              <td class="data" valign="bottom">
                                 <table class="data">
                                    <tr>
                                       <td class="fieldname"><a class="info" href="javascript:void(0);">Compliance system name (source data set)<span>"Source data set" of the "Compliance system" that is declared to be met by the data set.</span></a></td>
                                    </tr>
                                    <tr>
                                       <td class="data"><span class="data_neutral"><a href="../sources/ILCD_Compliance_88d4f8d9-60f9-43d1-9ea3-329c10d7d727_01.00.000.html" title="source data set" class="">ILCD Data Network compliance</a></span></td>
                                    </tr>
                                 </table>
                              </td>

                              <td valign="bottom">
                                 <table class="data">
                                    <tr>
                                       <td class="fieldname"><a class="info" href="javascript:void(0);">Approval of overall compliance<span>Official approval whether or not and in how far the data set meets all the requirements of the "Compliance system" refered
                                                to. This approval should be issued/confirmed by the owner of that compliance system, who is identified via the respective
                                                "Contact data set".</span></a></td>
                                    </tr>
                                    <tr>
                                       <td class="data"><span class="data_enum"><a class="info" href="javascript:void(0);">Fully compliant<span>Meets all requirements of this compliance aspect as defined in the respective "Compliance system".</span></a></span></td>
                                    </tr>
                                 </table>
                              </td>
                                       </span></td>
                     </tr>
                  </tr>
               </table>
            </td>
         </tr>


         <tr>
            <td class="section" colspan="2" style="padding-left: 10px;"><a name="administrativeInformation"></a>Administrative information
            </td>
         </tr>

         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">Data entry by</td>
         </tr>

         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Time stamp (last saved)<span>Date and time stamp of data set generation, typically an automated entry ("last saved").</span></a></td>
            <td class="data"><span class="data_neutral">$!xmlFlow.getAdministrativeInformation().getDataEntryBy().getTimeStamp().toString()</span></td>
         </tr>

         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Data set format(s) (source data set)<span>"Source data set" of the used version of the ILCD format. If additional data format fields have been integrated into the data
                     set file, using the "namespace" option, the used format namespace(s) are to be given. This is the case if the data sets carries
                     additional information as specified by other, particular LCA formats, e.g. of other database networks or LCA softwares.</span></a></td>
            <td class="data"><span class="data_neutral">
              #foreach($formatRef in $xmlFlow.getAdministrativeInformation().getDataEntryBy().getReferenceToDataSetFormat())
                <a href="$!formatRef.getUri()" title="source data set" class="">$!formatRef.getShortDescription().get(0).getValue()</a><br/>
              #end
            </span></td>
         </tr>


         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">Publication and ownership</td>
         </tr>
         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">UUID of flow data set<span>Automatically generated Universally Unique Identifier of this data set. Together with the "Data set version", the UUID uniquely
                     identifies each data set.</span></a></td>
            <td class="data"><span class="data_neutral">$!flow.getUuid().getUuid()</span></td>
         </tr>

         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Data set version<span>Version number of data set. First two digits refer to major updates, the second two digits to minor revisions and error corrections
                     etc. The third three digits are intended for automatic and internal counting of versions during data set development. Together
                     with the data set's UUID, the "Data set version" uniquely identifies each data set.</span></a></td>
            <td class="data"><span class="data_neutral">$!flow.getDataSetVersion()</span></td>
         </tr>

         <tr class="">
            <td class="fieldname" style="padding-left: 30px;"><a class="info" href="javascript:void(0);">Permanent data set URI<span>URI (i.e. an internet address) of the original of this data set. [Note: This equally globally unique identifier supports users
                     and software tools to identify and retrieve the original version of a data set via the internet or to check for available
                     updates. The URI must not represent an existing WWW address, but it should be unique and point to the data access point, e.g.
                     by combining the data owner's www path with the data set's UUID, e.g. http://www.mycompany.com/lca/processes/50f12420-8855-12db-b606-0900210c9a66.]</span></a></td>
            <td class="data"><span class="data_neutral"><a href="$!flow.getPermanentUri()">$!flow.getPermanentUri()</a></span></td>
         </tr>

         <tr>
            <td class="subsection" colspan="2" style="padding-left: 20px;">Flow properties</td>
         </tr>
         <tr>
            <td colspan="2">
               <table width="100%">
                  <tr>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Flow property<span>"Flow property data set".</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Mean value (of flow property)<span>Value for the flow expressed in this flow property in relationship to the the value of the flow expressed in its reference
                              flow property (see field "Reference to reference flow property" in the "Quantitative reference" section). [Notes and examples:
                              If the product flow "Diesel" is expressed by default in "Mass" (= reference flow property) and "kg" (= corresponding reference
                              unit), the value that would be stated here for an additional flow property e.g. "Net calorific value" would be "42.5", as
                              this flow property has the reference unit "MJ" and Diesel has a net calorific value of 42.5 MJ per 1 kg. It is recommended
                              to report only significant digits of the value.]</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Minimum value<span>Minimum value of this flow property in case uncertainty distribution is uniform or triangular.</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Maximum value<span>Maximum value of this flow property in case uncertainty distribution is uniform or triangular.</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Uncertainty distribution type<span>Defines the kind of uncertainty distribution that is valid for this particular object or parameter.</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Relative StdDev in %<span>The resulting overall uncertainty of the calculated variable value considering uncertainty of measurements, modelling, appropriateness
                              etc. [Notes: For log-normal distribution the square of the geometric standard deviation (SDg^2) is stated. Mean value times
                              SDg^2 equals the 97.5% value (= Maximum value), Mean value divided by SDg^2 equals the 2.5% value (= Minimum value). For normal
                              distribution the doubled standard deviation value (2*SD) is entered. Mean value plus 2*SD equals 97.5% value (= Maximum value),
                              Mean value minus 2*SD equals 2.5% value (= Minimum value). This data field remains empty when uniform or triangular uncertainty
                              distribution is applied.]</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);">Data derivation type / status<span>Identifies the way by which the Flow property value was derived (e.g. measured, estimated etc.), respectively the status and
                              relevancy of missing data.</span></a></th>
                     <th class="table_header"><a class="info" href="javascript:void(0);"><span></span></a></th>
                  </tr>
                  #foreach($propdesc in $flow.getPropertyDescriptions())
                  <tr>
                     <td class="exchanges_data"><span class="data_neutral"><a href="../flowproperties/$!propdesc.getFlowPropertyRef().getUuid().getUuid()" title="flow property data set" class="">$!propdesc.getFlowPropertyName().getDefaultValue()</a></span></td>
                     <td class="exchanges_data"><span class="data_neutral">$!propdesc.getMeanValue() $!propdesc.getFlowPropertyUnit()</span></td>
                     <td class="exchanges_data"><span class="data_neutral">$!propdesc.getMinValue()</span></td>
                     <td class="exchanges_data"><span class="data_neutral">$!propdesc.getMaxValue()</span></td>
                     <td class="exchanges_data"><span class="data_enum">$!propdesc.getUncertaintyType()<a class="info" href="javascript:void(0);">
                                       <span></span></a></span></td>
                     <td class="exchanges_data"><span class="data_neutral">$!propdesc.getStandardDeviation() %</span></td>
                     <td class="exchanges_data"><span class="data_enum">$!propdesc.getDerivationType()<a class="info" href="javascript:void(0);">
                                       <span></span></a></span></td>
                     <td class="exchanges_data"><span class="data_neutral"></span></td>
                  </tr>
                  #end
               </table>
            </td>
         </tr>

      </table>
   </body>
</html>