* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-size: 12px;
}

#datasetdetailPanel {
	border: none;
	padding: 0;
}

#datasetdetailPanelHeader {
	font-size: 14px;
}

.ui-panel .ui-panel-content {
	padding: 0 !important;
}
.ui-accordion .ui-accordion-content {
	 padding: 0 0.1em 0.5em 0 !important
}

.ui-accordion .ui-accordion-header a {
	padding: 0.3em 2em !important;
}

.ui-datalist-empty-message {
    display: none;
}

#toggleFakeButton, #closeButton, #backButton {
	float: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	padding: 0.4em 1em;
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	padding: 2px !important;
}

/* source: http://css-tricks.com/snippets/css/cross-browser-opacity/ */
.transp {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* IE 5-7 */
	filter: alpha(opacity=50);
	
	/* Netscape */
	-moz-opacity: 0.5;
	
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	
	/* Good browsers */
	opacity: 0.5;
	font-weight: normal !important;
	background-repeat: no-repeat !important;
	background-image: none !important;
	color: black !important;
}

td.transp {
	width: 200px !important;
}

span.transp {
	border: none !important;
}

.epd th {
	vertical-align: bottom;
}

.epd td {
	padding: 3px !important;
}

.epd td.amount {
	text-align: right;
}

.epd td.unit {
	text-align: center;
}

.lotsofcolumns {
/*	width: 50em;
	max-width: 50em;*/
	width: 90%;
	max-width: 90%;
}

.lotsofcolumns td, .lotsofcolumns th {
	white-space: normal !important;
	vertical-align: text-top;
}

.lotsofcolumns td {
	padding: 2px !important;
	font-size: 11px !important;
}

.lotsofcolumns th {
	padding: 0 !important;
}

.lotsofcolumns th span {
	font-size: 11px !important;
}

.lotsofcolumns td table {
	width: 25em;
}

.lotsofcolumns td .expandedTable {
    width: auto;
}

#backLinks {
	margin: 1em;
}

#switchInline, #switchInline div {
	display: inline;
	font-size: inherit;
}

code {
	font-family: monospace;
}

.italic {
	font-style: italic;
}

/* see Node/src/main/webapp/templates/default/css/site.css */

div.ourDataList ul, div.ourDataListNoBullet ul {
	margin: 0;
	padding: 0;
	border: none;
}

div.ourDataList > .ui-widget-content, div.ourDataListNoBullet > .ui-widget-content {
	border: none;
}

div.ourDataListNoBullet li {
	list-style-type: none;
}

div.ourDataList li {
	list-style-type: circle;
	margin-left: 1.2em;
}

.highlighted {
	border: 2px solid !important;
}
