<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:shiro="http://shiro.apache.org/tags"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<f:view contentType="text/html" locale="#{localeBean.locale}">
		<h:head>	
			<title>#{pageTitle} - #{conf.applicationTitle} #{i18n['admin.administration']}</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta http-equiv="Content-Language" content="en" />
			
			<!-- Following file used for menu highlight hover event binding -->
			<script src="#{conf.contextPath}#{conf.templatePath}/scripts/default.js" type="text/javascript"></script>
			
			<link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/site.css" media="all" />
			<h:outputStylesheet name="css/admin.css" />
		</h:head>
		
		<h:body onload="initFakeButtons()">
			<pe:importConstants className="de.iai.ilcd.util.SodaUtil" var="Constants" />
			<div id="admin_header" class="ui-widget-header">
				<div class="title"><h:link outcome="#{url.adminIndex}" value="soda4LCA Administration" /></div>
				<ui:fragment rendered="#{availableStocks.allStocksMeta.size() > 1}">
					<div class="floatRight">
						<h:form>
							<h:panelGrid columns="2">
								<p:outputLabel value="#{i18n['common.stock.selected']}:" for="selectDataStock" />
								<p:selectOneMenu id="selectDataStock" value="#{stockSelection.currentStockName}" valueChangeListener="#{stockSelection.stockChangeEventHandler}">
									<f:selectItems value="#{availableStocks.allStocksMeta}" var="stock" itemLabel="#{stock.name}" itemValue="#{stock.name}" />
									<f:ajax listener="#{stockSelection.navigate}" />
								</p:selectOneMenu>
							</h:panelGrid>
						</h:form>
					</div>
				</ui:fragment>
				<div class="ui-helper-clearfix"></div>
			</div>
			
			<ui:include src="/admin/layout/adminMenu.xhtml" />

			<div id="admin_content" class="minMax">
				<h1>#{pageTitle}</h1>
				<div class="story">
					<h:panelGroup rendered="#{not empty pageSubTitle}">
						<h2>#{pageSubTitle}</h2>
					</h:panelGroup>
					<ui:insert name="content">Content</ui:insert>
				</div>
			</div>
			
			<div id="admin_footer" class="ui-widget-header">
				<div id="rightFooter">soda4LCA #{conf.appVersion}</div>
				<div id="leftFooter">
					#{utilStr['unicodeChar.blackLeftPointer']}
					<h:link outcome="#{url.index}" value="#{i18n['common.backTo']} #{conf.applicationTitle}" />
					|
					<h:panelGroup rendered="#{user.loggedIn}">
						<h:link outcome="#{url.user.profile}" value="#{i18n['common.profile']}" />
						|
						<h:link outcome="#{url.user.password}" value="#{i18n['common.password']}" />
						|
						<h:link outcome="#{url.user.logout}" value="#{i18n['public.user.logout']}" />
						<h:outputText value=" (#{i18n['admin.user']}: #{user.userName})" />
					</h:panelGroup>
					<h:panelGroup rendered="#{not user.loggedIn}">
						<h:link rendered="#{conf.registrationActivated}" outcome="#{url.user.registration}" value="#{i18n['public.user.register']}" />
						<h:outputText rendered="#{conf.registrationActivated}" value=" | " />
						<h:link outcome="#{url.user.login}" value="#{i18n['public.user.login']}" rendered="#{conf.displayConfig.showLoginLink}"/>
					</h:panelGroup>
				</div>
			</div>
			
		</h:body>
	</f:view>
</html>