<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="#{conf.templatePath}/design.xhtml">
            <ui:define name="dataSetMenu">
                <ui:include src="dataSetMenu.xhtml" />
            </ui:define>
            <ui:define name="contentBody">
                <tr>
                    <td height="352">
                        <div style="padding-left:3%;padding-right:3%;padding-bottom:3%;vertical-align: text-top">
                            <h2>#{pageTitle}</h2>
                            <div align="justify"></div>
                            <div class="story">
                                <h:panelGroup rendered="#{not empty pageSubTitle}">
                                	<h3 align="justify">#{pageSubTitle}</h3>
                                </h:panelGroup>
                                <ui:insert name="content">
                                    <h1>Hier kommt der Inhalt hin</h1>
                                </ui:insert>
                            </div>
                        </div>
                    </td>
                </tr>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
