<?xml version='1.0' encoding='UTF-8' ?>
<!--
via ui:param:
	- exchanges
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dataTable rendered="#{not empty exchanges}" value="#{exchanges}" var="exchange" styleClass="lotsofcolumns">
		<ui:param name="notEmpty_refToDataSource" value="#{not empty exchange.refToDataSource}" />
		<ui:param name="notEmpty_comment" value="#{not empty exchange.comment.getValueWithFallback(lang)}" />
		<p:rowExpansion rendered="#{notEmpty_refToDataSource or notEmpty_comment}">
			<p:panelGrid styleClass="expandedTable">
				<p:row rendered="#{notEmpty_refToDataSource}">
					<p:column styleClass="ui-state-hover transp">
						<soda:outputTextTooltip
							outputTextId="generalComment"
							outputTextValue="#{i18n['public.dataset.comment.wrapped']}"
							tooltipValue="#{tooltip['process.exchange.generalComment']}" />
					</p:column>
					<p:column>
						<soda:dataListStyled dataListValue="#{exchange.refToDataSource}">
							<ui:param name="refToDataSource" value="#{dataListStyledVar}" />
							<soda:switchLinkOrText
								outputLinkValue="#{processHandler.getReferenceUrl(refToDataSource, url.source)}"
								outputLinkTitle="#{i18n['common.source.inflected']}#{i18n['delimiter']}#{i18n['public.dataset']}"
								outputTextValue="#{processHandler.getMultilangWithFallback(lang, refToDataSource.shortDescription)}"
								repeatValue="#{refToDataSource.subReference}" />
						</soda:dataListStyled>
					</p:column>
				</p:row>
				<p:row rendered="#{notEmpty_comment}">
					<p:column styleClass="ui-state-hover transp">
						<soda:outputTextTooltip
							outputTextId="generalComment"
							outputTextValue="#{i18n['public.dataset.comment']}"
							tooltipValue="#{tooltip['process.exchange.generalComment']}" />
					</p:column>
					<p:column>
						#{exchange.comment.getValueWithFallback(lang)}
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:rowExpansion>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="typeOfFlow"
					outputTextValue="#{i18n['common.typeOfFlow']}"
					tooltipValue="#{tooltip['flow.typeOfDataSet']}" />
			</f:facet>
			#{exchange.flowType}
			<h:panelGroup rendered="#{notEmpty_refToDataSource or notEmpty_comment}">
				<pe:tooltip forSelector=".ui-row-toggler" mouseTracking="true" adjustX="10" adjustY="10" value="#{i18n['common.expandRow']}" />
				<p:rowToggler />
			</h:panelGroup>
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="classification"
					outputTextValue="#{i18n['common.dataset.classif']}"
					tooltipValue="#{tooltip['dataset.classification']}" />
			</f:facet>
			#{exchange.classification.classHierarchyAsString}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="referenceToFlowDataSet"
					outputTextValue="#{i18n['common.flow']}"
					tooltipValue="#{tooltip['process.exchange.referenceToFlowDataSet']}" />
			</f:facet>
			<soda:switchLinkOrText
				outputLinkValue="#{processHandler.getReferenceUrl(exchange.flowReference, url.flow)}"
				outputLinkTitle="#{i18n['common.flow']}#{i18n['delimiter']}#{i18n['public.dataset']}"
				outputTextValue="#{exchange.flowName.value}" />
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="referenceToVariable"
					outputTextValue="#{i18n['common.referenceToVariable']}"
					tooltipValue="#{tooltip['process.exchange.referenceToVariable']}" />
			</f:facet>
			#{exchange.referenceToVariable}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="location"
					outputTextValue="#{i18n['common.dataset.location']}"
					tooltipValue="#{tooltip['process.exchange.location']}" />
			</f:facet>
			#{exchange.location}
		</p:column>
		<p:column>
			<f:facet name="header">
				#{i18n['public.proc.functionType']}
			</f:facet>
			#{exchange.functionType}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="meanAmount"
					outputTextValue="#{i18n['common.meanAmount.wrapped']}"
					tooltipValue="#{tooltip['process.exchange.meanAmount']}" />
			</f:facet>
			#{exchange.meanAmount}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="resultingAmount"
					outputTextValue="#{i18n['common.resultingAmount']}"
					tooltipValue="#{tooltip['process.exchange.resultingAmount']}" />
			</f:facet>
			#{exchange.resultingAmount}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="minimumAmount"
					outputTextValue="#{i18n['common.minimumAmount.wrapped']}"
					tooltipValue="#{tooltip['process.exchange.minimumAmount']}" />
			</f:facet>
			#{exchange.minimumAmount}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="maximumAmount"
					outputTextValue="#{i18n['common.maximumAmount.wrapped']}"
					tooltipValue="#{tooltip['process.exchange.maximumAmount']}" />
			</f:facet>
			#{exchange.maximumAmount}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="uncertaintyDistributionType"
					outputTextValue="#{i18n['common.uncertaintyDistributionType.wrapped']}"
					tooltipValue="#{tooltip['process.uncertaintyDistributionType']}" />
			</f:facet>
			#{exchange.uncertaintyDistribution}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="relativeStandardDeviation95In"
					outputTextValue="#{i18n['common.relativeStdDev.wrapped']}"
					tooltipValue="#{tooltip['dataset.relativeStandardDeviation95In']}" />
			</f:facet>
			#{exchange.standardDeviation} %
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="dataSourceType"
					outputTextValue="#{i18n['common.dataSourceType']}"
					tooltipValue="#{tooltip['process.exchange.dataSourceType']}" />
			</f:facet>
			#{exchange.dataSource}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="dataDerivationTypeStatus"
					outputTextValue="#{i18n['common.dataDerivationTypeStatus.wrapped']}"
					tooltipValue="#{tooltip['dataset.dataDerivationTypeStatus']}" />
			</f:facet>
			#{exchange.derivationType}
		</p:column>
		<p:column>
			<f:facet name="header">
				<soda:outputTextTooltip
					outputTextId="generalComment"
					outputTextValue="#{i18n['public.dataset.comment.wrapped']}"
					tooltipValue="#{tooltip['process.exchange.generalComment']}" />
			</f:facet>
			#{exchange.comment.getValueWithFallback(lang)}
		</p:column>
	</p:dataTable>
</ui:composition>